.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
}

.leaflet-container{
  margin-top: 2vh;
  height: 90vh;
}

.heading{
  margin-top: 2vh;
}

.note{
  margin-top: 2vh;
  font-size: smaller;
  color: rgb(204, 17, 17);
}